# $$ \text{Extended Quiz}$$

# Exercise 1

Write a program that asks the user for a positive integer $k$ and $n$,  and compute and displays the value of $$A = \frac{1}{k}+ \frac{1}{kk}+ \frac{1}{kkk}+ \frac{1}{kkkk}+\frac{1}{kk...k},$$
where the last term $kk...k$ has a length $n$. Test the program by inputing $2$ and $1$ for $k$ and $n$, respectively.

In [21]:
k=input('enter a positive integer k')
n=int(input('enter a positive integer n'))
A=0
for i in range(n+1):
    a=k*i
    b=int(k*i)
    A=A+(1/b)
print(A)

enter a positive integer k2
enter a positive integer n1

ValueError: invalid literal for int() with base 10: ''

# Exercise 2

1. Write a function called <b>showEmployee</b> in such a way that it should accept employee name and its salary and display both. For axemaple, <b>showEmployee("John",100000)</b> must return <b>"Employee John's salary is 100000"</b>.
if the salary is not given, the function <b>showEmployee</b> must consider 50000 as the salary.

In [3]:
def showEmployee(name,salary=10000):
    return f"Employee{name}'s salary is {salary}"

In [5]:
showEmployee('stanley')

"Employeestanley's salary is 10000"

2. Test the fuction <b>showEmployee</b> by using only your name as string.

# Exercise 3
Write a function called <b>Root_Power</b> that is given a positive number $x$ and a positive integer $n$ and returns $x^{1/n}$ and $x^n$. In
the function definition, set the default value of $n$ to $2$. Test the function <b>root</b> by inputing only $x=49$

In [6]:
def Root_power(x,n):
    return x**(1/n),x**(n)

In [8]:
Root_power(49,2)

(7.0, 2401)

# Exercise 4
1. Write a Python function called <b>OddNum</b> that  returns the list of odd numbers from a given list.

In [10]:
def OddNum(n):
    return[i for i in range(n+1) if i%2!=0]
OddNum(23)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

2. Test the function <b>OddNum</b> by using the list $[-14, 45.5,27,0,-4,7]$

In [20]:
def oddNun(lst):
    return[i for i in lst if i%2==1]

In [21]:
oddNun([-14, 45.5,27,0,-4,7])

[27, 7]

# Exercise 5

1. Write a function called <b>SolveQuadratic</b> that takes three real numbers $a\neq 0$, $b$, $c$ and  returns the list of the solutions in <b>R</b> of the quadratic equation $ax^2 + bx + c = 0.$

In [28]:
def SolveQuadratic(a,b,c):
    R=[]
    if a==0:
        return 'wrong input'
    else:
            d=b*b-4*a*c
            x=((-1*b)+(d**(1/2)))/2*a
            y=((-1*b)+(d**(1/2)))/2*a
            R.append(x)
            R.append(y)
    return R

In [30]:
SolveQuadratic(2,0,8)

[(4.898587196589413e-16+8j), (4.898587196589413e-16+8j)]

2. Print the output of <b>SolveQuadratic</b> when
    - $a = 2, b=0, c=-8$
    - $a = 2, b=0, c=8$
    - $a = 1, b=2, c=1$

# Exercise 6
1. Write a function called <b>FunDig</b> that takes an integer  $n$ and returns the sum of the cubes of itâ€™s digits.
For example, <b>FunDig</b>$(203)$ must compute $ 2^3 + 0^3 + 3^3 $ and return $35$.

In [41]:
def FunDig(n):
    y=str(n)
    sn=0
    for i in range(0,len(y)):
        s=y[i]
        z=int(s)
        q=z**3
        sn=sn+(q)
    return sn

In [42]:
FunDig(203)

35

2. Write a python code to find all integers below 1000 such that <b>FunDig</b>$(n) > n$.

In [44]:
def FunDIG(n=1000):
    R=[]
    for n in range(0,n):
        if FunDig(n)>n:
            R.append(n)
    return R
FunDIG()

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 105,
 106,
 107,
 108,
 109,
 115,
 116,
 117,
 118,
 119,
 125,
 126,
 127,
 128,
 129,
 135,
 136,
 137,
 138,
 139,
 145,
 146,
 147,
 148,
 149,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 206,
 207,
 208,
 209,
 216,
 217,
 218,
 219,
 226,
 227,
 228,
 229,
 236,
 237,
 238,
 239,
 246,
 247,
 248,
 249,
 255,
 256,
 257,
 258,
 259,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 307,
 308,
 309,
 317,
 318,
 319,
 327,
 328,
 329,
 337,
 338,
 339,
 347,
 348,
 349,
 356,
 357,
 358,
 359,
 365,
 366,
 367,
 368,
 369,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 408,
 409,
 418,
 419,
 428,
 429,
 438,
 439,
 447,
 448,
 449,
 457,
 458,
 459,
 466,
 467,
 468,
 469,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 508,
 509,
 518,
 519,
 528,
 529,
 538,
 539,
 548,
 549,
 557,
 558,
 559,
 567,
 568,
 569,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 608,
 609,
 618,
 619,
 628,
 629,
 638,
 639,
 648,
 649,
 657,
 658,
 659,
 667,
 668,
 669,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 708,
 709,
 718,
 719,
 728,
 729,
 738,
 739,
 747,
 748,
 749,
 757,
 758,
 759,
 766,
 767,
 768,
 769,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 807,
 808,
 809,
 817,
 818,
 819,
 827,
 828,
 829,
 837,
 838,
 839,
 847,
 848,
 849,
 857,
 858,
 859,
 866,
 867,
 868,
 869,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 906,
 907,
 908,
 909,
 916,
 917,
 918,
 919,
 926,
 927,
 928,
 929,
 936,
 937,
 938,
 939,
 946,
 947,
 948,
 949,
 955,
 956,
 957,
 958,
 959,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]

# Exercise 7

Recall that if <b>s</b> is a string, then <b>s.find('a')</b> will find the location of the first a in <b>s</b>. The
problem is that it does not find the location of every a. Write a function called <b>findall</b> that
given a string and a single character, returns a list containing all of the locations of that character
in the string. It should return an empty list if there are no occurrences of the character
in the string.

In [45]:
def findall(s,a):
    b=[]
    for i in range(0,len(str(s))):
        if a==s[i]:
            b.append(i)
    return b

In [48]:
findall('stanleyy','y')

[6, 7]

# Exercise 8

1. Write a function called <b>List_of_factors</b> that takes a positive integer $n$ and returns a list of all the factors of $n$. Test this function by printint the output of <b>List_of_factors</b> for $n=15$

In [5]:
def List_of_factors(n):
    b=[]
    for i in range(1,n+1):
        if n%i==0:
            b.append(i)
    return b

In [6]:
List_of_factors(15)

[1, 3, 5, 15]

2. Using <b>List_of_factors</b>, write a Python function called <b>IsPrime</b> that takes a positive integer $n$  as a argument and returs the boolean <b>True</b> if $n$ is a prime number otherwise it returns the boolean <b> False</b>. Test this function by printing the output of <b>IsPrime</b> for  $n=15$ and $n=97$.

    Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [7]:
def Isprime(n):
    if len(List_of_factors(n))==2:
        return True
    else:
        return False

In [8]:
Isprime(86)

False

3. Using <b>IsPrime</b>, write the function <b>primes_start</b> that takes two positive integers $n$, $start$ and return a list of the first n primes that are greater than or equal to $start$. The default value of $start$ should be $2$.

In [13]:
def primes_start(n,start):
    b=[]
    while len(b)<n:
                if Isprime(start)==True:
                    b.append(start)
                start=start+1
    return b

In [14]:
primes_start(20,2)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]