In [1]:
def sum_digits(num):
    strg = str(num)
    s_um = 0
    for i in strg:
        s_um += int(i)
    return s_um
sum_digits(132430)

13

In [190]:
def factorial(n):
    factorial=1
    for i in range(1,n+1):
        factorial=factorial*i
    return factorial

def combination(q,p):
    if q>=p:
        return factorial(q)/(factorial(q-p)*factorial(p))
    else:
        return 'invalid input'

In [191]:
combination(5,2)

10.0

In [19]:
def  number_of_factors(n):
    return[i for i in range(1,n+1) if n%i==0]

In [20]:
number_of_factors(10)

[1, 2, 5, 10]

In [24]:
def  number_of_factors(z):
    L=[]
    for i in range(1,z+1):
        if z%i==0:
            L.append(i)
    return len(L),L

In [25]:
number_of_factors(10)

(4, [1, 2, 5, 10])

In [104]:
def root(x,n=2):
    return int(x**(1/n))

In [105]:
root(5)

2

In [30]:
changecase('stane','stanttte')

1

In [208]:
def closest(L,n):
    
    L.sort()
    y=len(L)
    for i in range(y):
        if n<=L[i]:
            return L[i-1]

In [209]:
closest([3,5,7,8,5,8,9,9,9],5)

3

In [6]:
def matches(s,j):
    if len(s)<=len(j):
        n=len(s)
    else:
        n=len(j)
        a =0
    for i in range(n):
        if s[i]==j[i]:
            a+=1
    return a

In [7]:
matches('stanley','stan')

4

In [37]:
def sfind(strng,a):
    listf=[]
    
    for i in range(0,len(strng)):
        if strng[i]==a:
            listf.append(i)
    else:
        return listf

In [41]:
sfind('stayyaysyus','s')

[0, 7, 10]

In [42]:
def is_sorted(lists):
    if lists==lists.sort():
        return True
    else:
        return false

In [86]:
def change_case(l):
    l1=''
    a=len(l)
    
    for i in range(a):
        if l[i].isupper():
            l1=l1+l[i].lower()
        
            
        else:
            l[i].islower()
            l1=l1+l[i].upper()
            
    return l1

In [87]:
change_case('Stanley')

'sTANLEY'

In [102]:
def is_sorted(strng):
    for i in range(len(strng)):
        if strng[i]<=strng[i+1]:
            return 'True'
    return 'False'

In [103]:
is_sorted([1,5,3,4])

'True'

In [135]:
def one_way(m,n):
    count=0
    if len(n)==len(m):
        for i in range(len(m)):
            if m[i]!=n[i]:
                count+=i
                if count==1:
                    return True
                else:
                    return 'false'

    return 'false'

In [139]:
one_way('speed','speed')

'false'

In [184]:
def prime(y):
    
    p=[]
    
    for i in range(2,y):
        if y%3!=0 and y%2!=0:
            p.append(i)
            z=p.append(i)
        
    return p

In [185]:
prime(100)

[]

In [152]:
def one_way(m,n):
    count=0
    if len(n)==len(m):
        return 'true'
    else:

        for i in range(len(m)):
            if m[i]!=n[i]:
                count+=i
                if count==1:
                    return True
                else:
                    return 'false'

In [153]:
one_way('spafd','spead')

'true'

In [168]:
def  Articles(y):
    count1=0
    count2=0
    count3=0
    if 'an ' in y.lower():
        count1+=1
    if 'a' in y:
        count2+=1
        
    if 'the' in y.lower():
        count3+=1
    return count1,count2,count3

In [169]:
Articles(' The student, called Ange, is a girl from Rwanda ')

(0, 1, 1)

In [205]:
def wordn(s,k):
    y=len(s)
    
    for i in range(y):
        if i==k:
            return s[i]
    else:
        return 'none!'

In [207]:
wordn('three',4)

'e'

In [218]:
def sum_(y):
    z=str(y)
    sun=0
    
    for i in z:
        sun+=int(i)
        
    return sun

In [219]:
sum_(1234)

10

In [220]:
def rect(n,m):
    
    print('*'*m)
    
    for i in range(m-3):
        print("*"+" "*(m-2)+"*")
    print('*'*m)

In [221]:
rect(7,5)

*****
*   *
*   *
*****

In [240]:
def firstd(n,m):
    if len(n)>=len(m):
        p=len(n)
    else:
        len(m)
       
    for i in range(len(m)):
        
        if n[i]!=m[i]:
            return i
   
    if len(n)==len(m):            
        return -1

In [241]:
firstd('Angela','Angele')

5