In [18]:
x=int(input('enter the value of N0: '))
sum=0
for i in range (x):
    if i%2==0 and i%3==0:
        sum=sum+i
print(sum)

enter the value of N0: 10
6

In [2]:
n=int(input('enter the value of n'))
z=int(input('enter the value of z'))
a=0
B=0
if z==0:
    print('the value of z must be graeter than zero')
        
else:
    for i in range (n):
            a=(-1)**i/(z**i)
            B=B+a
print(B)

enter the value of n3
enter the value of z2
0.75

Net Salary calculation

In [4]:
n=int(input('enter your gross salary'))
if n>=5000:
    tax=0.12*n
    net_salary=n-tax
else:
    tax=0.08*n
    net_salary=n-tax
print(net_salary)

enter your gross salary2000
1840.0

Identifying leap years

In [7]:
year=int(input('enter the year '))
if year%2==0 and year%4==0:
    print(year,'is a leap year')
else:
    print(year,"is'nt a leap year")

enter the year 1996
1996 is a leap year

Arranging a list in order

In [19]:
def sortlist(listt):
    q=[]
    n=len(listt)
    for i in range(n):
        for j in listt:
            if j>listt[i]:
                q.append(i)
            else:
                q.append(j)
    return q

In [20]:
listt=[3,2,4]
sortlist(listt)

[3, 2, 0, 1, 2, 1, 3, 2, 4]