In [5]:
%%javascript
MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
});

# $$\text{Exercise 1}$$
1. Let us consider the array $M$ defined below

In [29]:
import numpy as np
M = np.array([[ 80842, 333008, 202553, 140037,  81969,  63857,  42105, 261540],
       [481981, 176739, 489984, 326386, 110795, 394863,  25024,  38317],
       [ 49982, 408830, 485118,  16119, 407675, 231729, 265455, 109413],
       [103399, 174677, 343356, 301717, 224120, 401101, 140473, 254634],
       [112262,  25063, 108262, 375059, 406983, 208947, 115641, 296685],
       [444899, 129585, 171318, 313094, 425041, 188411, 335140, 141681],
       [ 59641, 211420, 287650,   8973, 477425, 382803, 465168,   3975],
       [ 32213, 160603, 275485, 388234, 246225,  56174, 244097,   9350],
       [496966, 225516, 273338,  73335, 283013, 212813,  38175, 282399],
       [318413, 337639, 379802, 198049, 101115, 419547, 260219, 325793],
       [148593, 425024, 348570, 117968, 107007,  52547, 180346, 178760],
       [305186, 262153,  11835, 449971, 494184, 472031, 353049, 476442],
       [ 35455, 191553, 384154,  29917, 187599,  68912, 428968,  69638],
       [ 20140, 220691, 163112,  47862, 474879,  15713, 279173, 161443],
       [ 76851, 450401, 193338, 189948, 211826, 384657,  17636, 189954],
       [182580, 403458,  63004,  87202,  17143, 308769, 316192, 408259],
       [379223, 322891, 302814, 309594,  13650,  68095, 327748,  27138],
       [ 33346, 202960, 221234,  61986,  96524, 230606, 266487, 299766],
       [ 46264,  33510, 434647,  26750, 412754, 346058, 263454, 270444],
       [182770, 486269, 402948, 105055, 463911, 378799, 329053,  16793],
       [379586, 293162, 121602, 144605, 105553,  71148,  40126, 183534],
       [493338,   5241, 498084, 189451, 219466,  12869, 482845,  16529],
       [145955, 461866, 427009,  70841, 318111, 199631,  99330, 407887],
       [133826, 214053, 295543, 339707, 199545, 194494, 304822, 337793],
       [395524, 206326, 308488, 297633, 472409, 487606, 422244, 443487],
       [464749,  75275, 299486, 248984,  76076, 197544,  75103, 394086],
       [404365,  67309, 267556,  96483, 166099, 203867,  57120, 211249],
       [ 86992, 286426, 130451, 419955, 109839, 332663, 101095,  50820],
       [108699, 436141, 333670,  45890, 425798,   6967, 155851, 360687],
       [252907, 121138,  81509, 367876, 471831, 226950, 349068, 197092]])
M

array([[ 80842, 333008, 202553, 140037,  81969,  63857,  42105, 261540],
       [481981, 176739, 489984, 326386, 110795, 394863,  25024,  38317],
       [ 49982, 408830, 485118,  16119, 407675, 231729, 265455, 109413],
       [103399, 174677, 343356, 301717, 224120, 401101, 140473, 254634],
       [112262,  25063, 108262, 375059, 406983, 208947, 115641, 296685],
       [444899, 129585, 171318, 313094, 425041, 188411, 335140, 141681],
       [ 59641, 211420, 287650,   8973, 477425, 382803, 465168,   3975],
       [ 32213, 160603, 275485, 388234, 246225,  56174, 244097,   9350],
       [496966, 225516, 273338,  73335, 283013, 212813,  38175, 282399],
       [318413, 337639, 379802, 198049, 101115, 419547, 260219, 325793],
       [148593, 425024, 348570, 117968, 107007,  52547, 180346, 178760],
       [305186, 262153,  11835, 449971, 494184, 472031, 353049, 476442],
       [ 35455, 191553, 384154,  29917, 187599,  68912, 428968,  69638],
       [ 20140, 220691, 163112,  47862, 474879,  15713, 279173, 161443],
       [ 76851, 450401, 193338, 189948, 211826, 384657,  17636, 189954],
       [182580, 403458,  63004,  87202,  17143, 308769, 316192, 408259],
       [379223, 322891, 302814, 309594,  13650,  68095, 327748,  27138],
       [ 33346, 202960, 221234,  61986,  96524, 230606, 266487, 299766],
       [ 46264,  33510, 434647,  26750, 412754, 346058, 263454, 270444],
       [182770, 486269, 402948, 105055, 463911, 378799, 329053,  16793],
       [379586, 293162, 121602, 144605, 105553,  71148,  40126, 183534],
       [493338,   5241, 498084, 189451, 219466,  12869, 482845,  16529],
       [145955, 461866, 427009,  70841, 318111, 199631,  99330, 407887],
       [133826, 214053, 295543, 339707, 199545, 194494, 304822, 337793],
       [395524, 206326, 308488, 297633, 472409, 487606, 422244, 443487],
       [464749,  75275, 299486, 248984,  76076, 197544,  75103, 394086],
       [404365,  67309, 267556,  96483, 166099, 203867,  57120, 211249],
       [ 86992, 286426, 130451, 419955, 109839, 332663, 101095,  50820],
       [108699, 436141, 333670,  45890, 425798,   6967, 155851, 360687],
       [252907, 121138,  81509, 367876, 471831, 226950, 349068, 197092]])

1. What is the average value of the second and fourth columns?

In [101]:
B=M[:,1:4:2]
np.average(B)

218960.13333333333

In [112]:
M.shape

(30, 8)

2. What is the average value of the last 5 rows of the second and fourth columns?

In [103]:
c=M[26:31,1:4:2]
np.average(c)

230152.25

3. Update $M$ by Replacing all its even integers by 0.

In [123]:
for i in range(30):
    for j in range(8):
         if i%2==0 and j%2==0:
            M[i,j]=0
print(M)

[[     0      0      0      0      0      0      0      0]
 [     0 176739      0 326386      0 394863      0  38317]
 [     0      0      0      0      0      0      0      0]
 [     0 174677      0 301717      0 401101      0 254634]
 [     0      0      0      0      0      0      0      0]
 [     0 129585      0 313094      0 188411      0 141681]
 [     0      0      0      0      0      0      0      0]
 [     0 160603      0 388234      0  56174      0   9350]
 [     0      0      0      0      0      0      0      0]
 [     0 337639      0 198049      0 419547      0 325793]
 [     0      0      0      0      0      0      0      0]
 [     0 262153      0 449971      0 472031      0 476442]
 [     0      0      0      0      0      0      0      0]
 [     0 220691      0  47862      0  15713      0 161443]
 [     0      0      0      0      0      0      0      0]
 [     0 403458      0  87202      0 308769      0 408259]
 [     0      0      0      0      0      0      0      0]
 [     0 202960      0  61986      0 230606      0 299766]
 [     0      0      0      0      0      0      0      0]
 [     0 486269      0 105055      0 378799      0  16793]
 [     0      0      0      0      0      0      0      0]
 [     0   5241      0 189451      0  12869      0  16529]
 [     0      0      0      0      0      0      0      0]
 [     0 214053      0 339707      0 194494      0 337793]
 [     0      0      0      0      0      0      0      0]
 [     0  75275      0 248984      0 197544      0 394086]
 [     0      0      0      0      0      0      0      0]
 [     0 286426      0 419955      0 332663      0  50820]
 [     0      0      0      0      0      0      0      0]
 [     0 121138      0 367876      0 226950      0 197092]]

# $$\text{Exercise 2}$$

Let $\{ x_k\}$ be a partition of $[a,b]$ such that $a=x_0<x_1<\cdots<x_{N-1}<x_N=b$ and $H$ be the length of the $k$-th subinterval ($H = x_k - x_{k-1}$),
then we have 
$$\int_a^bf(x)dx \approx \sum_{k=1}^N \frac{f(x_{k-1})+f(x_k)}{2}H = A$$


Write a function named <b>Trap</b> that takes $a,b,N, f$ as inputs and return A

In [52]:
f=lambda x: x**2
def Trap(a,b,H):
    n=(a+b)/H
    z=int(n)
    A=0
    y=np.linspace(a,b,z+1) 
    for i in range(1,z+1):
        A=A+(H/2)*(f(y[i-1])+f(y[i]))
    return A

In [53]:
Trap(0,2,0.5)

2.75

# $$\text{Exercise 3}$$

Let us consider the function $f$ defined on the set of integer as follows 

\begin{equation}
f(n) =
  \begin{cases}
    n/2       & \quad \text{if } n \text{ is even}\\
    -(n)/3 +1  & \quad \text{if } n \text{ is odd and divisible by 3}\\
    (n+1)/2 +1 & \quad \text{else}
  \end{cases}
\end{equation}

Write a python function named <b> ComptFunc </b> that takes two intergers $a$ and $b$ , $a<b$ and return  an array $flist$ of all  $f(n), n \in nlist$ where $nlist$ is the list of all the integers in the interval $[a,b]$.

In [22]:
import numpy as np
n=np.linspace(-10,15,26)
def ComptFunc(n):
    if n%2==0:
        return n/2
    elif n%2==1 and n%3==0:
        return -1*n/3+1
    else:
        return (n+1)/2+1

In [119]:
n

array([-10.,  -9.,  -8.,  -7.,  -6.,  -5.,  -4.,  -3.,  -2.,  -1.,   0.,
         1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.])

In [24]:
m=np.vectorize(ComptFunc)
m(n)

array([-5.,  4., -4., -2., -3., -1., -2.,  2., -1.,  1.,  0.,  2.,  1.,
        0.,  2.,  4.,  3.,  5.,  4., -2.,  5.,  7.,  6.,  8.,  7., -4.])

# $$\text{Exercise 4}$$

Write a python code to create the following numpy arrays
$$
A = \begin{pmatrix}
1 & 4 & 6 \\ 
0 & -3 & 2 \\ 
-2 & -2 & -2	
\end{pmatrix}, \quad
B = \begin{pmatrix}
2 & -1 & 0 \\ 
2 & -1 & 0 \\ 
2 & -3 & 1
\end{pmatrix},
$$
and compute $A-B$, $4A + B$, $trace(A)$, $B^t$ the transpose of $B$, the determinant of $A$, $AB$ and $BA^t$

In [113]:
A=np.array([[1,4,6],[0,-3,2],[-2,-2,-2]])
B=np.array([[2,-1,0],[2,-1,0],[2,-3,1]])
print (A)
print(';;;')
print(B)
print(';;;')
print(A-B)
print(';;;')
print(4*A+B)
print(';;;')
print(np.trace(A))
print(';;;')
print(B.T)
print(';;;')
print(np.linalg.det(A))
print(';;;')
print(A@B)
print(';;;')
print((B@A).T)

[[ 1  4  6]
 [ 0 -3  2]
 [-2 -2 -2]]
;;;
[[ 2 -1  0]
 [ 2 -1  0]
 [ 2 -3  1]]
;;;
[[-1  5  6]
 [-2 -2  2]
 [-4  1 -3]]
;;;
[[  6  15  24]
 [  2 -13   8]
 [ -6 -11  -7]]
;;;
-4
;;;
[[ 2  2  2]
 [-1 -1 -3]
 [ 0  0  1]]
;;;
-41.999999999999986
;;;
[[ 22 -23   6]
 [ -2  -3   2]
 [-12  10  -2]]
;;;
[[ 2  2  0]
 [11 11 15]
 [10 10  4]]

# $$\text{Exercise 5}$$

Let us consider the sequence $U_n$ given by 
\begin{equation}\label{fib}
\left\lbrace 
\begin{array}{ll}
U_0 &= 1,\\
U_1 &= 2,\\
U_{n} &=-3U_{n-1} +U_{n-2}, \;\; \forall\; n=2,3,4\cdots
\end{array}\right. 
\end{equation}

Write a python function named  <b>SeqTerms</b> that takes as input an integer $n,\;\;n\geq 0$ and return an array of the first $n$ terms (i.e. $U_0, \cdots, U_{n-1}$) of the sequence \eqref{fib}.

In [114]:
import numpy as np
def SeqTerms(n):
    U0=1
    U1=2
    A=np.array([U0,U1])
    if n==0:
        return np.array([])
    if n==1:
        return np.array([1])
    elif n==2:
        return np.array([U0,U1])
    else:
        for i in range(2,n):
            Un=-3*U1+U0
            U0=U1
            U1=Un
            A=np.append(A,np.array([Un]))
        return A

In [115]:
SeqTerms(4)

array([ 1,  2, -5, 17])